*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contain{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 75px;
}

.cart_card{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding:10px 10vw;
    border-radius: 5px;
}

.cart{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
    border-radius: 5px;
}

.cart-item{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
}

.cart-item img{
    width: 150px;
    height: 100px;
    border-radius: 5px;
}

.cart-item .cart-item-details button{
    background-color: navy;
    border: none;
    margin-top: 10px;
    color: white;
}

.cart-item .cart-item-details button:hover{
    background-color: white;
    color: navy;
    border: 1px solid navy;
}

.quantity{
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.quantity button{
    background-color: navy;
    color: white;
    border: none;
    padding: 8px;
}