* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.admin-wrapper {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.admin-wrapper h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.admin-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.admin-links a {
    background-color: navy;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
}

.admin-links a:hover {
    background-color: white;
    color: navy;
    border: 1px solid navy;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.add-button {
    display: inline-block;
    margin-bottom: 20px;
    background-color: navy;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.add-button:hover {
    background-color: white;
    color: navy;
    border: 1px solid navy;
}
